<html>
  <head>
    <title>Test - AngularJS - States with Parent States as Strings</title>
    <link rel="stylesheet" href="../static/css/vendors/normalize.css">
    <link rel="stylesheet" href="../static/css/vendors/main.css">
    <link rel="stylesheet" href="../static/css/app.css">
    <script type="text/javascript" src="../static/js/vendors/modernizr-2.6.2.min.js"></script>
  </head>

  <body>
    <h1>Test - AngularJS - States with Parent States as Strings</h1>
    <div ng-app="statesWithParentsAsStringPage">
      <div ng-controller="pageController">
        <div>
          <ul class="template-selection">
            <li><a href="#" ng-click="stateModel.setState('parent01')">parent 01</a></li>
            <li><a href="#" ng-click="stateModel.setState('parent02')">parent 02</a></li>
            <li><a href="#" ng-click="stateModel.setState('parent03')">parent 03</a></li>
          </ul>
        </div>
        <div ui-view></div>
      </div>
    </div>

    <script type="text/javascript" src="../static/js/vendors/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="../static/js/vendors/angular.min.js"></script>
    <script type="text/javascript" src="../static/js/vendors/angular-ui-router.min.js"></script>
    
    <script type="text/javascript" src="state-manager.js"></script>
    <script type="text/javascript" src="ng-app.js"></script>

    <script type="text/javascript" src="templates/parents/parent-01-controller.js"></script>
      <script type="text/javascript" src="templates/children/child-01-controller.js"></script>
        <script type="text/javascript" src="templates/grandchildren/grandchild-01-controller.js"></script>
        <script type="text/javascript" src="templates/grandchildren/grandchild-02-controller.js"></script>
      <script type="text/javascript" src="templates/children/child-02-controller.js"></script>
        <script type="text/javascript" src="templates/grandchildren/grandchild-03-controller.js"></script>
        <script type="text/javascript" src="templates/grandchildren/grandchild-04-controller.js"></script>

    <script type="text/javascript" src="templates/parents/parent-02-controller.js"></script>
      <script type="text/javascript" src="templates/children/child-03-controller.js"></script>
        <script type="text/javascript" src="templates/grandchildren/grandchild-05-controller.js"></script>
        <script type="text/javascript" src="templates/grandchildren/grandchild-06-controller.js"></script>
      <script type="text/javascript" src="templates/children/child-04-controller.js"></script>
        <script type="text/javascript" src="templates/grandchildren/grandchild-07-controller.js"></script>
        <script type="text/javascript" src="templates/grandchildren/grandchild-08-controller.js"></script>

    <script type="text/javascript" src="templates/parents/parent-03-controller.js"></script>
      <script type="text/javascript" src="templates/children/child-05-controller.js"></script>
        <script type="text/javascript" src="templates/grandchildren/grandchild-09-controller.js"></script>
        <script type="text/javascript" src="templates/grandchildren/grandchild-10-controller.js"></script>
      <script type="text/javascript" src="templates/children/child-06-controller.js"></script>
        <script type="text/javascript" src="templates/grandchildren/grandchild-11-controller.js"></script>
        <script type="text/javascript" src="templates/grandchildren/grandchild-12-controller.js"></script>

  </body>
</html>